<div class="container" fxLayout="column"> 

  <h2>  
    Experience
  </h2>

  <h2>
    Skills
  </h2>
  
  <div fxLayout="row" fxLayoutAlign="center start">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>

  <div fxLayout="row">
    <div>cory</div>
    <div>is </div>
    <div>here</div>
    <!--<h4>Programming</h4>
    <ul>
      <li>HTML, CSS/Less, Javascript</li>
      <li>Angular 1/2, Typescript</li>
      <li>Git (Bitbucket, Github)</li>
      <li>Agile Development experience</li>
      <li>Java, C, C++</li>
    </ul>    -->

  </div>

  <h2>
    Education
  </h2>
</div>

<div fxLayout="row">
  <div>Cory</div>
  <div>is</div>
  <div>here</div>

</div>