<div class="container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="center start">
        <h4></h4>
        <h1>Cory Cooper</h1>
        <h4>Software Engineer</h4>
      </div>
      <div >
        <div class="placeholder">
        <!-- blurred background image for blurred edge -->
          <img class="bg-image-blur" src="../assets/profile.jpg">
          <!-- same image, no blur -->
          <img class="bg-image" src="../assets/profile.jpg">
        </div>
      </div>
    </div>
</div>



